<h4>All stickers</h4>

<section class="row">
  <h4>5cmX5cm stickers</h4>
  <% @stickers.each do |sticker| %>
    <div class="th"><%= image_tag(sticker.photo)  %></div>
    <span class="label"><%= sticker.name %></span>
  <% end %>
  <hr>
</section>

<br>

<%= link_to 'New Sticker', new_sticker_path %>
