<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>Stickers for your car, laptop & mobile.</h1>
      <p>Awesome Stickers is your source for stickers for your car, mobile or laptop. We have
        round stickers, oval ones...square ones...funny ones, whatever your idea for a sticker, we've got it!</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    <div class="row margin-bottom-30">
      <div class="col-md-4">
        <div class="service">
          <span class="glyphicon glyphicon-search"></span>
          <div class="desc">
            <h4>Fully Responsive</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service">
          <span class="glyphicon glyphicon-search"></span>
          <div class="desc">
            <h4>HTML5 + CSS3</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service">
          <span class="glyphicon glyphicon-search"></span>
          <div class="desc">
            <h4>Launch Ready</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>